@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #222831;
  --bg-secColor: #f9f9f9;
  --bg-contentColor: #2c3440;
  --primary-color: #fff;
  --secondary-color: #282846;
  --text-color: #29a19c;
}

/* Typography */

body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

input,
button {
  outline: none;
  border: none;
}

p {
  color: #2c3440;
  height: 100%;
  width: 300px;
  display: inline-block;
  background-color: #2c3440;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-btween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-wrapper {
  width: 100%;
}

.aside-main-wrapper {
  width: 30%;
  max-width: 230px;
  height: 100vh;
  background-color: var(--bg-contentColor);
  align-items: flex-start;
}

.main-logo-wrapper {
  width: 100%;  
  padding-top: 1rem;
}

.main-logo-wrapper span {
  margin-left: 0.5rem;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.3rem;
}
.logo-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.logo-wrapper img {
  max-height: 100%;
}

.main-right-section {
  flex: 1;
}

.link-list {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  margin-top: 5rem;
}

.link-list .link {
  margin-bottom: 1.5rem;
}

.link-list .link a {
  font-size: 1rem;
  color: var(--text-color);
}