@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

:root {
  --bg-color: #222831;
  --bg-secColor: #f9f9f9;
  --bg-contentColor: #2c3440;
  --primary-color: #fff;
  --secondary-color: #282846;
  --text-color: #29a19c;
  --secondary-text-color: #9ea2ab;
}

/* Typography */

body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

input,
button {
  outline: none;
  border: none;
  background-color: transparent;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-wrapper {
  width: 100%;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
}

.aside-main-wrapper {
  width: 30%;
  max-width: 200px;
  height: 100vh;
  background-color: var(--bg-contentColor);
}

.main-logo-wrapper {
  width: 100%;  
  padding-top: 1rem;
}

.main-logo-wrapper span {
  margin-left: 0.5rem;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.3rem;
}
.logo-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.logo-wrapper img {
  max-height: 100%;
}

.main-right-section {
  height: 100%;
  align-items: flex-start;
  width: 100%;
}

.link-list {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  margin-top: 5rem;
}

.link-list .link {
  margin-bottom: 1.5rem;
}

.link-list .link a {
  color: var(--secondary-text-color);
}

.link-list .link a:hover {
  color: var(--text-color);
}

.link-list .link a.active{
  font-size: 1rem;
  color: var(--text-color);
}

.link-list .link a span {
  margin-left: 0.5rem;
}

.main-header-wrapper {
  width: 100%;
  height: 5.5rem;
}

.header-content-wrapper {
  width: 90%;
  height: 100%;
  line-height: 5.5rem;
  margin: 0 auto;
}

.auth span {
  color: var(--secondary-text-color);
  cursor: pointer;
  font-style: italic;
  font-size: 0.9rem;
}

.profile-img {
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 1rem;
}

.profile-img img {
  max-width: 100%;
}

.add-task {
  padding: 0.4rem 1.5rem;
  background-color: var(--text-color);
  color: var(--primary-color);
  cursor: pointer;
  border-radius: 0.4rem;
}

.add-task .icon {
  margin-right: 0.3rem;
}

.change-mode .icon {
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--secondary-text-color);
}

.main-tasks {
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.main-task-wrapper {
  width: 90%;
  margin: 0 auto;
}

.row1,
.row2 {
  width: 100%;
}

.counter-container {
  width: 95%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-contentColor);
  max-height: 13rem;
}

.counter-header {
  width: 100%;
}

.counter-header p {
  color: var(--text-color);
}

.more .icon {
  font-size: 1.6rem;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.counters {
  width: 100%;
}

.counter {
  width: 6rem;
  height: 6rem;
  margin-top: 0.5rem;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  flex-direction: column;
}

.counter span {
  color: var(--text-color);
  font-size: 1.6rem;
}

.counter .title {
  color: var(--primary-color);
  font-size: 0.8rem;
}

.main-tasks-container {
  width: 95%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-contentColor);
}

.task-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
}

.task-list .task {
  width: 100%;
  padding: 0 0.7rem;
  border: 1.5px solid var(--secondary-text-color);
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.task-list .task #task {
  flex: 1;
  padding: 0.3rem 0.5rem;
  font-weight: 300;
  color: var(--secondary-text-color);
}

.task-list .task #check {
  background-color: var(--bg-contentColor);
}

.icons .icon {
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}

.icons .icon:last-child {
  margin-left: 0.3rem;
  color: #f05454;
}

.main-day-info {
  width: 95%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-contentColor);
}

.main-day-info .title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-style: italic;
  color: var(--text-color);
}

.info-left-wrapper>p,
.info-right-wrapper>p {
  color: var(--primary-color);
}

.info-left-wrapper .date,
.info-right-wrapper .date {
  font-size: 0.8rem;
  color: var(--secondary-text-color);
}

.info-left-wrapper p:last-child .icon,
.info-right-wrapper p:last-child .icon {
  margin-right: 0.5rem;
}

.message-wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-contentColor);
}

.message-wrapper  span {
  font-size: 0.9rem;
  color: var(--text-color);
}

.message-wrapper p {
  font-size: 0.8rem;
  margin-top: 1rem;
  color: var(--primary-color);
}

@media screen and (min-width: 600px) {
  .main-task-wrapper {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 0.7rem;
  }
  .row1,
  .row2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem;
  }
}
