* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #222831;
  --bg-secColor: #f9f9f9;
  --bg-contentColor: #2c3440;
  --primary-color: #ffffff;
  --secondary-color: #282846;
  --text-color: #29a19c;
}

/* Typography */

body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

input,
button {
  outline: none;
  border: none;
}

p {
  color: #2c3440;
  height: 100%;
  width: 300px;
  display: inline-block;
  background-color: #2c3440;
}
